@import "../shared/styles/global";
header{
    display: block;
    position: relative;
    padding: 0;
    overflow: hidden;
    @media (max-width: 767px) {
        padding: 0 0 180px;
    }
    h1{
        font-weight: bolder;
        color: $second-color;
        text-shadow: 1px 0 $second-color;
        letter-spacing:1px;
    }
    h3{
        color: $second-color;
        font-weight: 500;
    }
    .bg{
        height: 100vh;
        position: relative;
        z-index: 1;
        // background-size: cover;
        background-size: contain;
        background-repeat: no-repeat;
        // background-position: left bottom;
        background-position: right;
        @media (max-width: 767px) {
            background-position: right bottom;
            height: 100vh;
        }
    }
    .header-half-img{
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        @media (max-width: 767px) {
            // top: -20%;
            top: 65%;
        }
        img{
            width: 100%;
            height: auto;
            margin-top: 15%;
            margin-left: 15%;
            @media (max-width: 767px) {
                margin-top: 5%;
            }
            // margin-top: 70px;
            // height: 550px;
        }
    }
    .header-half-text{
        margin-top: 45%;
        @media (max-width : 767px) {
            margin-top: 18%;
        }
        .header-btn{
            padding: 8px 25px;
            border-radius: 25px;
            border: none;
            background: rgb(26,18,159);
            background: linear-gradient(90deg, rgba(26,18,159,1) 0%, rgba(97,86,249,1) 100%, rgba(9,9,121,1) 100%);
        }
    }

}
// .toBottom {
//   position: relative;
//   display: block;
//   overflow: hidden;
//   animation-name: bounce-2;
//   animation-timing-function: ease;
// }

.toBottom{
    position: absolute;
    left: 40%;
    bottom: 0;
    z-index: 9999;
    // margin: auto;
    // -ms-transform: translateX(-50%);
    // -webkit-transform: translateX(-50%);
    // transform: translateX(-50%);
    @media (max-width : 767px) {
        display: none;
    }
    a{
        cursor: pointer;
    }
}

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
