<app-navbar></app-navbar>
<header id="header" #header>
    <div class="header bg" style="background-image: url('assets/images/header-hero-bg.svg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-half-text">
                        <h3>
                            SOCIAL MEDIA
                        </h3>
                        <h1>
                            FOR BUSINESS!
                        </h1>
                        <p>PERFOMANCE BASED SOCIAL MEDIA AGENCY <br> WE ARE LOREM MEDIA</p>
                        <button class="btn app-btn">GET A FREE AUDIT</button>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-2">
                    <div class="header-half-img">
                        <img src="assets/images/header-half-bg.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="goto-down">
        <a (click)="onClick('services')">
            <img src="assets/images/tobottom.png">
        </a>
    </div>
</header>
