<section class="footer" id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
            <div class="col-md-3">
                <div class="get-in">
                    <h2>logo.</h2>
                    <h3>stay in touch</h3>
                    <ul class="socialize">
                        <li><a><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <h4 class="text-capitalize">quick links</h4>
                <ul class="quick-links text-capitalize">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">pricing</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Office</a></li>
                       
                </ul>
            </div>

            <div class="col-md-3 hours-hidden">
                <h4>Hours</h4>
                <ul class="hours text-capitalize">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <p>Monday:</p>
                        </div>
                        <div class="col-md-6">
                            <span>9:00 - 18:00</span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <p>Tuesday:</p>
                        </div>
                        <div class="col-md-6">
                            <span>9:00 - 18:00</span>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <p>Wednesday:</p>
                        </div>
                        <div class="col-md-6">
                            <span>9:00 - 18:00</span>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <p>Thursday:</p>
                        </div>
                        <div class="col-md-6">
                            <span>9:00 - 18:00</span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <p>Friday:</p>
                        </div>
                        <div class="col-md-6">
                            <span>9:00 - 18:00</span>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 order-md-4 order-3">
                <h4>Contact</h4>
                <ul class="contact-info">
                    <li><i class="fa fa-phone"></i><span class="ml-2">000-000-0000</span></li>
                    <li><i class="fa fa-envelope"></i><span class="ml-2">info@email.com</span></li>
                    <li><i class="fa fa-map-marker"></i><span class="ml-2">New York, US</span></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</section>
