<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-img">
                    <img src="assets/images/about-left-img.svg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <h2>
                        Who We Are
                    </h2>
                    <p>
                        Lorem Media is a full-service social media agency. We offer businesses innovative solutions that deliver the right type of audience to you in the most effective strategies possible. We strive to develop a community around your business, polishing your branding, and improving your public relations.
                        Social Media is now one of the most powerful marketing tools with the ability to communicate with a target audience in real time.
                    </p>
                    <p>It's 2019: time to sink or swim.</p>
                    <button class="btn app-btn">SEE MORE</button>
                </div>
            </div>
    
            
        </div>
    </div>
</section>
