@import "../shared/styles/global";

input[type='email']{
    background-color: $input-color;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 23px;
}

.form-inline .custom-select, .form-inline .input-group {
    @media (min-width: 576px)
    {
        width: 100%;
    }
}

::-webkit-input-placeholder { /* Edge */
    color: rgba($input-txt-color,.7);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba($input-txt-color,.7);
  }
  
  ::placeholder {
    color: rgba($input-txt-color,.7);
  }
  h3{
      margin-bottom: 40px;
      color: $second-color;
      span{
        font-weight: 600;
      }
  }

  