@import "../shared/styles/global";
.pricing{
    background-color: $light-primary;   
}
h4{
    font-weight: 900;
    margin: 25px 0;
    color: rgba($primary-color, .8) ;
}
.card{        
    border-radius: 16px;
    width: 90%;
    margin: auto;
    border: none;
    @media (min-width: 991px) {
        max-height: 500px;
        height: 360px;
    }
    .card-title{
        color: $second-color;
        text-align:  left;
        text-transform: capitalize;
        margin: 0;
        h6{
            margin: 20px 0;
        }
    }
    .card-body{
        padding: 0;
        p{
            font-size: 15px;
        }
    }
    .card-footer{
        background-color:transparent;
        border-top: none; 
    
    }
    .card-icon{
        img{
            height: 60px;
        }
    }
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .0;
}
.slick-active {
    cursor: pointer;
    opacity: .8;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 38px -5px rgba(126, 118, 249,0.16);
    transform: scale(0.85);
}
.slick-current {
    opacity: 1;
    transform: scale(1);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}